<html>

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Language</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'chinese:index' %}">
                <span class="glyphicon glyphicon-home"></span>
                Language
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'chinese:deck_list' %}">
                        <span class="glyphicon glyphicon-tower"></span>
                        Chinese
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if user.first_name %}
                            <span class="glyphicon glyphicon-star"></span> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-star"></span> {{ user.username }} <span class="caret"></span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/accounts/logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/accounts/login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login
                </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<div class="container">
    <hr>
    <footer>
        <p>&copy; Duong Do 2017</p>
    </footer>
</div>

{% block scripts %}
{% endblock %}
</body>

</html>