{% extends "base.html" %}

{% block content %}
<h1 class="text-danger">{{ object.name }}</h1>

{% for lesson, ideographs in data %}
<div class="row">
    <div class="col-sm-2">
        <h2>Lesson {{ lesson|add:1 }}</h2>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <h2>
            {% for ideograph in ideographs %}
            {% if ideograph.image %}
                <a href="{% url 'chinese:ideograph' ideograph.id %}">
                    <img class="text-image" src="/static/images/{{ ideograph.image }}">
                </a>
            {% else %}
                <a href="{% url 'chinese:ideograph' ideograph.id %}">{{ ideograph.text }}</a>
            {% endif %}
            |
            {% endfor %}
        </h2>
    </div>
    <div class="col-sm-2">
        <p><a class="btn btn-lg btn-success" href="{% url 'chinese:lesson_quiz' object.id lesson %}">
            Quiz
        </a></p>
    </div>
</div>
<hr>
{% endfor %}

<p><a class="btn btn-lg btn-danger" href="{% url 'chinese:deck_quiz' object.id %}">
    Comprehensive Quiz
</a></p>

{% endblock %}

{% block scripts %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/ideograph.css' %}">
{% endblock %}